
<div class="container-fluid">
    <div class="row">
    <div class="col-12 p-0 mt-5">
        <h2>Incidencias críticas en infraestructura sin afectación a servicio</h2>
    </div>
    </div>

  
    <div class="row">
      <div class="col-9 text-left p-0 mt-2">
 
        <a      
        title="Ayuda"
        (click)="open(crisecon)"
        class="btn btn-info pointerplus btn-circle"
        ><i class="fa fa-plus fa-2"></i
          > </a>

      </div>
      <div class="col-3 p-0 mt-2 text-right">
        <div class="form">
          <mat-form-field floatPlaceholder="never" color="accent">
            <input matInput placeholder="Buscar" (keyup)="updateFilter($event)" />
          </mat-form-field>
        </div>
      </div>
    </div>




    <div class="row">
      <div class="col-12 p-0 m-0">
        <ngx-datatable
          #mydatatable
          class="material striped"
          headerHeight="50"
          [limit]="25"
          [columnMode]="'force'"
          footerHeight="50"
          rowHeight="auto"
          [rows]="rows"
          [messages]="my_messages"
        >
          <!-- <ngx-datatable-column name="id_crise" [maxWidth]="60">
            <ng-template ngx-datatable-header-template>
              <span>ID</span>
            </ng-template>
            <ng-template
              class="mat-column-id"
              ngx-datatable-cell-template
              let-rowIndex="rowIndex"
              let-value="value"
              let-row="row"
              ><div class="text-center">{{ row.id_crise }}</div>
            </ng-template>
          </ngx-datatable-column>
 
          <ngx-datatable-column name="crise_fecha" [maxWidth]="130">
            <ng-template ngx-datatable-header-template>
              <span>Fecha</span>
            </ng-template>
            <ng-template
              ngx-datatable-cell-template
              let-rowIndex="rowIndex"
              let-value="value"
              let-row="row">
            <span title="Doble click para editar"
            (dblclick)="editing[rowIndex + '-crise_fecha'] = true"
            *ngIf="!editing[rowIndex + '-crise_fecha']"
            >
            {{ row.crise_fecha}}
            <span class="text-muted2" *ngIf="row.crise_fecha ===''"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          </span>
          <input autofocus
            (clickOutside)="editing[rowIndex + '-crise_fecha'] = false"
            (keyup.enter)="updateValue($event, 'crise_fecha', rowIndex)"
            *ngIf="editing[rowIndex + '-crise_fecha']"
            type="text"
            class="form-control"
            [value]="row.crise_fecha"
            [title]="row.id_crise"
          /></ng-template>
          </ngx-datatable-column> -->

          <ngx-datatable-column name="crise_proveedor" [maxWidth]="400">
            <ng-template ngx-datatable-header-template>
              <span>Proveedor</span>
            </ng-template>
            <ng-template
              ngx-datatable-cell-template
              let-rowIndex="rowIndex"
              let-value="value"
              let-row="row">
            <span title="Doble click para editar"
            (dblclick)="editing[rowIndex + '-crise_proveedor'] = true"
            *ngIf="!editing[rowIndex + '-crise_proveedor']"
            >
            {{ row.crise_proveedor}}
            <span class="text-muted2" *ngIf="row.crise_proveedor ===''"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          </span>
          <input autofocus
            (clickOutside)="editing[rowIndex + '-crise_proveedor'] = false"
            (keyup.enter)="updateValue($event, 'crise_proveedor', rowIndex)"
            *ngIf="editing[rowIndex + '-crise_proveedor']"
            type="text"
            class="form-control"
            [value]="row.crise_proveedor"
            [title]="row.id_crise"
          /></ng-template>
          </ngx-datatable-column>
          
          <ngx-datatable-column name="crise_existe_incidencia" [maxWidth]="150">
            <ng-template ngx-datatable-header-template>
              <span>Existe incidencia</span>
            </ng-template>
            <ng-template
              ngx-datatable-cell-template
              let-rowIndex="rowIndex"
              let-value="value"
              let-row="row">
            <span title="Doble click para editar"
            (dblclick)="editing[rowIndex + '-crise_existe_incidencia'] = true"
            *ngIf="!editing[rowIndex + '-crise_existe_incidencia']"
            >
            {{ row.crise_existe_incidencia}}
            <span class="text-muted2" *ngIf="row.crise_existe_incidencia ===''"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          </span>
          <input autofocus
            (clickOutside)="editing[rowIndex + '-crise_existe_incidencia'] = false"
            (keyup.enter)="updateValue($event, 'crise_existe_incidencia', rowIndex)"
            *ngIf="editing[rowIndex + '-crise_existe_incidencia']"
            type="text"
            class="form-control"
            [value]="row.crise_existe_incidencia"
            [title]="row.id_crise"
          /></ng-template>
          </ngx-datatable-column>
        
          <ngx-datatable-column name="crise_aplicaciones_impactadas" [maxWidth]="490">
            <ng-template ngx-datatable-header-template>
              <span>Aplicaciones impactadas</span>
            </ng-template>
            <ng-template
              ngx-datatable-cell-template
              let-rowIndex="rowIndex"
              let-value="value"
              let-row="row">
            <span title="Doble click para editar"
            (dblclick)="editing[rowIndex + '-crise_aplicaciones_impactadas'] = true"
            *ngIf="!editing[rowIndex + '-crise_aplicaciones_impactadas']"
            >
            {{ row.crise_aplicaciones_impactadas}}
            <span class="text-muted2" *ngIf="row.crise_aplicaciones_impactadas ===''"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          </span>
          <textarea autofocus
            (clickOutside)="editing[rowIndex + '-crise_aplicaciones_impactadas'] = false"
            (keyup.enter)="updateValue($event, 'crise_aplicaciones_impactadas', rowIndex)"
            *ngIf="editing[rowIndex + '-crise_aplicaciones_impactadas']"
            type="text"
            class="form-control"
            [value]="row.crise_aplicaciones_impactadas"
            [title]="row.id_crise"
          >{{ row.crise_aplicaciones_impactadas}}</textarea></ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="crise_resolucion" [maxWidth]="540">
            <ng-template ngx-datatable-header-template>
              <span>Última actualización</span>
            </ng-template>
            <ng-template
              ngx-datatable-cell-template
              let-rowIndex="rowIndex"
              let-value="value"
              let-row="row">
            <span title="Doble click para editar"
            (dblclick)="editing[rowIndex + '-crise_resolucion'] = true"
            *ngIf="!editing[rowIndex + '-crise_resolucion']"
            >
            {{ row.crise_resolucion}}
            <span class="text-muted2" *ngIf="row.crise_resolucion ===''"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          </span>
          <textarea autofocus
            (clickOutside)="editing[rowIndex + '-crise_resolucion'] = false"
            (keyup.enter)="updateValue($event, 'crise_resolucion', rowIndex)"
            *ngIf="editing[rowIndex + '-crise_resolucion']"
            type="text"
            class="form-control"
            [value]="row.crise_resolucion"
            [title]="row.id_crise"
          >{{ row.crise_resolucion}}</textarea></ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="crise_estado" [maxWidth]="120">
            <ng-template ngx-datatable-header-template>
              <span>Estado</span>
            </ng-template>
            <ng-template
              ngx-datatable-cell-template
              let-rowIndex="rowIndex"
              let-row="row"
              let-value="value"
            >
              <div
                [ngClass]="{
                  positive: row.crise_estado == 'OPEN',
                  negative: row.crise_estado == 'CLOSED'
                }"
              >
                <span
                  title="Doble click para editar"
                  (dblclick)="editing[rowIndex + '-crise_estado'] = true"
                  *ngIf="!editing[rowIndex + '-crise_estado']"
                >
                  {{ row.crise_estado }}
                </span>
                <input type="hidden" #varId [value]="row.id_esse" />
                <select
                  class="form-control"
                  name="crise_estado"
                  *ngIf="editing[rowIndex + '-crise_estado']"
                  (clickOutside)="editing[rowIndex + '-crise_estado'] = false"
                  (change)="updateValue($event, 'crise_estado', rowIndex)"
                  [value]="row.crise_estado"
                  [title]="row.id_crise"
                  ><option value="OPEN">OPEN</option>
                  <option value="CLOSED">CLOSED</option>
                </select>
              </div>
            </ng-template>
          </ngx-datatable-column>
  
          <!-- <ngx-datatable-column name="esse_observaciones" [maxWidth]="1610">
            <ng-template ngx-datatable-header-template>
              <span>Observaciones</span>
            </ng-template>
            <ng-template
              ngx-datatable-cell-template
              let-rowIndex="rowIndex"
              let-value="value"
              let-row="row"
            >
              <span
                title="Doble click para editar"
                (dblclick)="editing[rowIndex + '-esse_observaciones'] = true"
                *ngIf="!editing[rowIndex + '-esse_observaciones']"
              >
                {{ row.esse_observaciones}}
                <span class="text-muted2" *ngIf="row.esse_observaciones === null">
                  vacío
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
              </span>
  
              <input
                required
                autofocus
                (clickOutside)="editing[rowIndex + '-esse_observaciones'] = false"
                (keyup.enter)="
                  updateValue($event, 'esse_observaciones', rowIndex)
                "
                *ngIf="editing[rowIndex + '-esse_observaciones']"
                type="text"
                class="form-control"
                [value]="row.esse_observaciones"
                [title]="row.id_esse"
              />
            </ng-template>
          </ngx-datatable-column> -->
  
          <!-- <ngx-datatable-column name="ver" [maxWidth]="150">
        <ng-template
          class="mat-column-id"
          ngx-datatable-cell-template
          let-row="row"
        >
  
          <div class="text-center">
            <div class="row">
              <div class="col-12 p0 m0">
  
  
  <div *ngIf="row.disabledBotones===turnoValor && registroroleperson.id_rol!= '8'">
                <button (click)="duplicar(row, i)"
                class="btn btn-warning botonsizes mr-1">
                    <i class="fa fa-clone"></i>
                </button>
                <a
                  [routerLink]="['/detalle', row.tokenid]"
                  class="btn btn-warning botonsizes mr-1"
                  ><i class="fa fa-pencil"></i
                ></a>
                <button
                  (click)="borrarRegistro(row, i)"
                  class="btn btn-warning botonsizes"
                >
                  <i class="fa fa-trash"></i>
                </button>
  </div> 
  
  <div *ngIf="registroroleperson.id_rol== '8'">
              <button (click)="duplicar(row, i)"
              class="btn btn-warning botonsizes mr-1">
                  <i class="fa fa-clone"></i>
              </button>
              <a
                [routerLink]="['/detalle', row.tokenid]"
                class="btn btn-warning botonsizes mr-1"
                ><i class="fa fa-pencil"></i
              ></a>
              <button
                (click)="borrarRegistro(row, i)"
                class="btn btn-warning botonsizes"
              >
                <i class="fa fa-trash"></i>
              </button>
  </div> 
  
  
              </div>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-column> -->
        </ngx-datatable>
      </div>
    </div>
  </div>
  



  <ng-template #crisecon let-modal class="modal-lg">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Incidencias</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
  
    <form [formGroup]="CriseForm" (ngSubmit)="submitdef()" class="formulario" novalidate>
          <input type="hidden" class="form-control"  name="id_persona"  formControlName="id_persona"  />



          <div class="row">
            <div class="col-md-4 mb-2 fechainput">
              <div class="form-group"><label for="crise_proveedor">Proveedor</label>
                <div class="input-group">
                  <input type="text" 
                  class="form-control"  
                  name="crise_proveedor" 
                  formControlName="crise_proveedor">
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-2 fechainput">
              <div class="form-group"><label for="crise_existe_incidencia">Existe incidencia</label>
                <div class="input-group">
                  <input type="text" 
                  class="form-control"  
                  name="crise_existe_incidencia" 
                  formControlName="crise_existe_incidencia">
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-2 fechainput">
              <div class="form-group"><label for="crise_aplicaciones_impactadas">Aplicaciones impactadas</label>
                <div class="input-group">
                  <input type="text" 
                  class="form-control"  
                  name="crise_aplicaciones_impactadas" 
                  formControlName="crise_aplicaciones_impactadas">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 mb-2 fechainput">
              <div class="form-group"><label for="crise_estado">Estado</label>
                <div class="input-group">
                  <input type="text" 
                  class="form-control"  
                  name="crise_estado" 
                  formControlName="crise_estado">
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-2 fechainput">


              <div class="form-group"><label for="crise_fecha">Fecha</label>
                <div class="input-group">
                  <input type="text" 
               
                  class="form-control"  
                  name="crise_fecha" 
                  formControlName="crise_fecha" 
                  ngbDatepicker #d="ngbDatepicker" #spy>
                  
                  <div class="input-group-addon" (click)="d.toggle()" >
                    <i class="fa fa-calendar fa-1g" aria-hidden="true"></i>
                  </div>
                </div>
              </div>


            </div>
            <div class="col-md-4 mb-2 fechainput">
              <div class="form-group"><label for="crise_resolucion">Resolución</label>
                <div class="input-group">
                  <input type="text" 
                  class="form-control"  
                  name="crise_resolucion" 
                  formControlName="crise_resolucion">
                </div>
              </div>
            </div>
          </div>
        
        
        
     


          <p class="text-center"><button type="submit" [disabled]="CriseForm.invalid" class="btn btn-primary">Guardar</button></p>  
    </form>
  
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </ng-template>