<div class="container-fluid">
    <div class="row">
    <div class="col-12 p-0 mt-5">
        <h2>Resumen incidencia DEFCON-3/2/1 – 24 Horas Previas</h2>
    </div>
    </div>

  
    <div class="row">
      <div class="col-9 text-left p-0 mt-2">
 
        <a      
        title="Ayuda"
        (click)="open(defcon)"
        class="btn btn-info pointerplus btn-circle"
        ><i class="fa fa-plus fa-2"></i
          > </a>
  
        


      </div>
      <div class="col-3 p-0 mt-2 text-right">
        <div class="form">
          <mat-form-field floatPlaceholder="never" color="accent">
            <input matInput placeholder="Buscar" (keyup)="updateFilter($event)" />
          </mat-form-field>
        </div>
      </div>
    </div>
  




    <div class="row">
      <div class="col-12 p-0 m-0">
        <ngx-datatable
          #mydatatable
          class="material striped"
          headerHeight="50"
          [limit]="25"
          [columnMode]="'force'"
          footerHeight="50"
          rowHeight="auto"
          [rows]="rows"
          [messages]="my_messages"
        >
        <ngx-datatable-column name="defcon_id" [maxWidth]="60">
          <ng-template ngx-datatable-header-template>
            <span>DEFCON</span>
          </ng-template>
          <ng-template
            ngx-datatable-cell-template
            let-rowIndex="rowIndex"
            let-value="value"
            let-row="row">
          <span title="Doble click para editar"
          (dblclick)="editing[rowIndex + '-defcon_id'] = true"
          *ngIf="!editing[rowIndex + '-defcon_id']"
          >
          {{ row.defcon_id}}
          <span class="text-muted2" *ngIf="row.defcon_id === null">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </span>
        <input autofocus
          (clickOutside)="editing[rowIndex + '-defcon_id'] = false"
          (keyup.enter)="updateValue($event, 'defcon_id', rowIndex)"
          *ngIf="editing[rowIndex + '-defcon_id']"
          type="text"
          class="form-control"
          [value]="row.defcon_id"
          [title]="row.id_defcon"
        /></ng-template>
        </ngx-datatable-column>
  

          <ngx-datatable-column name="defcon_fecha" [maxWidth]="160">
            <ng-template ngx-datatable-header-template>
              <span>Fecha</span>
            </ng-template>
            <ng-template
              ngx-datatable-cell-template
              let-rowIndex="rowIndex"
              let-value="value"
              let-row="row">
            <span title="Doble click para editar"
            (dblclick)="editing[rowIndex + '-defcon_fecha'] = true"
            *ngIf="!editing[rowIndex + '-defcon_fecha']"
            >
            {{ row.defcon_fecha}}
            <span class="text-muted2" *ngIf="row.defcon_fecha === null"> vacío &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          </span>
          <input autofocus
            (clickOutside)="editing[rowIndex + '-defcon_fecha'] = false"
            (keyup.enter)="updateValue($event, 'defcon_fecha', rowIndex)"
            *ngIf="editing[rowIndex + '-defcon_fecha']"
            type="text"
            class="form-control"
            [value]="row.defcon_fecha"
            [title]="row.id_defcon"
          /></ng-template>
          </ngx-datatable-column>
 
          <ngx-datatable-column name="defcon_inicio_incidencia" [maxWidth]="100">
            <ng-template ngx-datatable-header-template>
              <span>Inicio incidencia</span>
            </ng-template>
            <ng-template
              ngx-datatable-cell-template
              let-rowIndex="rowIndex"
              let-value="value"
              let-row="row">
            <span title="Doble click para editar"
            (dblclick)="editing[rowIndex + '-defcon_inicio_incidencia'] = true"
            *ngIf="!editing[rowIndex + '-defcon_inicio_incidencia']"
            >
            {{ row.defcon_inicio_incidencia}}
            <span class="text-muted2" *ngIf="row.defcon_inicio_incidencia === null"> vacío &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          </span>
          <input autofocus
            (clickOutside)="editing[rowIndex + '-defcon_inicio_incidencia'] = false"
            (keyup.enter)="updateValue($event, 'defcon_inicio_incidencia', rowIndex)"
            *ngIf="editing[rowIndex + '-defcon_inicio_incidencia']"
            type="text"
            class="form-control"
            [value]="row.defcon_inicio_incidencia"
            [title]="row.id_defcon"
          /></ng-template>
          </ngx-datatable-column>
          
          <ngx-datatable-column name="defcon_final_incidencia" [maxWidth]="100">
            <ng-template ngx-datatable-header-template>
              <span>Final incidencia</span>
            </ng-template>
            <ng-template
              ngx-datatable-cell-template
              let-rowIndex="rowIndex"
              let-value="value"
              let-row="row">
            <span title="Doble click para editar"
            (dblclick)="editing[rowIndex + '-defcon_final_incidencia'] = true"
            *ngIf="!editing[rowIndex + '-defcon_final_incidencia']"
            >
            {{ row.defcon_final_incidencia}}
            <span class="text-muted2" *ngIf="row.defcon_final_incidencia === null"> vacío &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          </span>
          <input autofocus
            (clickOutside)="editing[rowIndex + '-defcon_final_incidencia'] = false"
            (keyup.enter)="updateValue($event, 'defcon_final_incidencia', rowIndex)"
            *ngIf="editing[rowIndex + '-defcon_final_incidencia']"
            type="text"
            class="form-control"
            [value]="row.defcon_final_incidencia"
            [title]="row.id_defcon"
          /></ng-template>
          </ngx-datatable-column>
        
          <ngx-datatable-column name="defcon_ticket" [maxWidth]="130">
            <ng-template ngx-datatable-header-template>
              <span>Ticket</span>
            </ng-template>
            <ng-template
              ngx-datatable-cell-template
              let-rowIndex="rowIndex"
              let-value="value"
              let-row="row">
            <span title="Doble click para editar"
            (dblclick)="editing[rowIndex + '-defcon_ticket'] = true"
            *ngIf="!editing[rowIndex + '-defcon_ticket']"
            >
            {{ row.defcon_ticket}}
            <span class="text-muted2" *ngIf="row.defcon_ticket === null"> vacío &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          </span>
          <input autofocus
            (clickOutside)="editing[rowIndex + '-defcon_ticket'] = false"
            (keyup.enter)="updateValue($event, 'defcon_ticket', rowIndex)"
            *ngIf="editing[rowIndex + '-defcon_ticket']"
            type="text"
            class="form-control"
            [value]="row.defcon_ticket"
            [title]="row.id_defcon"
          /></ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="defcon_aplicaciones_impactadas" [maxWidth]="160">
            <ng-template ngx-datatable-header-template>
              <span>Aplicaciones impactadas</span>
            </ng-template>
            <ng-template
              ngx-datatable-cell-template
              let-rowIndex="rowIndex"
              let-value="value"
              let-row="row">
            <span title="Doble click para editar"
            (dblclick)="editing[rowIndex + '-defcon_aplicaciones_impactadas'] = true"
            *ngIf="!editing[rowIndex + '-defcon_aplicaciones_impactadas']"
            >
            {{ row.defcon_aplicaciones_impactadas}}
            <span class="text-muted2" *ngIf="row.defcon_aplicaciones_impactadas === null"> vacío &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          </span>
          <input autofocus
            (clickOutside)="editing[rowIndex + '-defcon_aplicaciones_impactadas'] = false"
            (keyup.enter)="updateValue($event, 'defcon_aplicaciones_impactadas', rowIndex)"
            *ngIf="editing[rowIndex + '-defcon_aplicaciones_impactadas']"
            type="text"
            class="form-control"
            [value]="row.defcon_aplicaciones_impactadas"
            [title]="row.id_defcon"
          /></ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="defcon_descripcion" [maxWidth]="530">
            <ng-template ngx-datatable-header-template>
              <span>Descripción</span>
            </ng-template>
            <ng-template
              ngx-datatable-cell-template
              let-rowIndex="rowIndex"
              let-value="value"
              let-row="row">
            <span title="Doble click para editar"
            (dblclick)="editing[rowIndex + '-defcon_descripcion'] = true"
            *ngIf="!editing[rowIndex + '-defcon_descripcion']"
            >
            {{ row.defcon_descripcion}}
            <span class="text-muted2" *ngIf="row.defcon_descripcion === null"> vacío &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          </span>
          <input autofocus
            (clickOutside)="editing[rowIndex + '-defcon_descripcion'] = false"
            (keyup.enter)="updateValue($event, 'defcon_descripcion', rowIndex)"
            *ngIf="editing[rowIndex + '-defcon_descripcion']"
            type="text"
            class="form-control"
            [value]="row.defcon_descripcion"
            [title]="row.id_defcon"
          /></ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="defcon_ultima_actualizacion" [maxWidth]="530">
            <ng-template ngx-datatable-header-template>
              <span>Última actualización</span>
            </ng-template>
            <ng-template
              ngx-datatable-cell-template
              let-rowIndex="rowIndex"
              let-value="value"
              let-row="row">
            <span title="Doble click para editar"
            (dblclick)="editing[rowIndex + '-defcon_ultima_actualizacion'] = true"
            *ngIf="!editing[rowIndex + '-defcon_ultima_actualizacion']"
            >
            {{ row.defcon_ultima_actualizacion}}
            <span class="text-muted2" *ngIf="row.defcon_ultima_actualizacion === null"> vacío &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          </span>
          <textarea autofocus
            (clickOutside)="editing[rowIndex + '-defcon_ultima_actualizacion'] = false"
            (keyup.enter)="updateValue($event, 'defcon_ultima_actualizacion', rowIndex)"
            *ngIf="editing[rowIndex + '-defcon_ultima_actualizacion']"
            type="text"
            class="form-control"
            [value]="row.defcon_ultima_actualizacion"
            [title]="row.id_defcon"
          >{{ row.defcon_ultima_actualizacion}}</textarea>

        </ng-template>
          </ngx-datatable-column>


          <ngx-datatable-column name="defcon_resolutores" [maxWidth]="180">
            <ng-template ngx-datatable-header-template>
              <span>Última actualización</span>
            </ng-template>
            <ng-template
              ngx-datatable-cell-template
              let-rowIndex="rowIndex"
              let-value="value"
              let-row="row">
            <span title="Doble click para editar"
            (dblclick)="editing[rowIndex + '-defcon_resolutores'] = true"
            *ngIf="!editing[rowIndex + '-defcon_resolutores']"
            >
            {{ row.defcon_resolutores}}
            <span class="text-muted2" *ngIf="row.defcon_resolutores === null"> vacío &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          </span>
          <input autofocus
            (clickOutside)="editing[rowIndex + '-defcon_resolutores'] = false"
            (keyup.enter)="updateValue($event, 'defcon_resolutores', rowIndex)"
            *ngIf="editing[rowIndex + '-defcon_resolutores']"
            type="text"
            class="form-control"
            [value]="row.defcon_resolutores"
            [title]="row.id_defcon"
          /></ng-template>
          </ngx-datatable-column>



          <ngx-datatable-column name="defcon_estado" [maxWidth]="120">
            <ng-template ngx-datatable-header-template>
              <span>Estado</span>
            </ng-template>
            <ng-template
              ngx-datatable-cell-template
              let-rowIndex="rowIndex"
              let-row="row"
              let-value="value"
            >

                <span
                  title="Doble click para editar"
                  (dblclick)="editing[rowIndex + '-defcon_estado'] = true"
                  *ngIf="!editing[rowIndex + '-defcon_estado']"
                >
                  {{ row.defcon_estado }}
                </span>
                <input type="hidden" #varId [value]="row.id_esse" />
                <select
                  class="form-control"
                  name="defcon_estado"
                  *ngIf="editing[rowIndex + '-defcon_estado']"
                  (clickOutside)="editing[rowIndex + '-defcon_estado'] = false"
                  (change)="updateValue($event, 'defcon_estado', rowIndex)"
                  [value]="row.defcon_estado"
                  [title]="row.id_defcon"
                  ><option value="OPEN">OPEN</option>
                  <option value="CLOSED">CLOSED</option>
                </select>
             
            </ng-template>
          </ngx-datatable-column>
  
          <!-- <ngx-datatable-column name="esse_observaciones" [maxWidth]="1610">
            <ng-template ngx-datatable-header-template>
              <span>Observaciones</span>
            </ng-template>
            <ng-template
              ngx-datatable-cell-template
              let-rowIndex="rowIndex"
              let-value="value"
              let-row="row"
            >
              <span
                title="Doble click para editar"
                (dblclick)="editing[rowIndex + '-esse_observaciones'] = true"
                *ngIf="!editing[rowIndex + '-esse_observaciones']"
              >
                {{ row.esse_observaciones}}
                <span class="text-muted2" *ngIf="row.esse_observaciones === null">
                  vacío
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
              </span>
  
              <input
                required
                autofocus
                (clickOutside)="editing[rowIndex + '-esse_observaciones'] = false"
                (keyup.enter)="
                  updateValue($event, 'esse_observaciones', rowIndex)
                "
                *ngIf="editing[rowIndex + '-esse_observaciones']"
                type="text"
                class="form-control"
                [value]="row.esse_observaciones"
                [title]="row.id_esse"
              />
            </ng-template>
          </ngx-datatable-column> -->
  
 <ngx-datatable-column name="ver" [maxWidth]="150">
        <ng-template
          class="mat-column-id"
          ngx-datatable-cell-template
          let-row="row"
        >
  
          <div class="text-center">
            <div class="row">
              <div class="col-12 p0 m0">
  
  <!-- <div *ngIf="registroroleperson.id_rol== '8'"> -->
              <button
                (click)="borrarRegistro(row, row.id_defcon)"
                class="btn btn-warning botonsizes"
              >
                <i class="fa fa-trash"></i>
              </button>
  <!-- </div>  -->
  
  
              </div>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-column>
      

        </ngx-datatable>
      </div>
    </div>
  </div>
  



  <ng-template #defcon let-modal class="modal-lg">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Incidencias</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
  
   
    <form [formGroup]="DefconForm" (ngSubmit)="submitdef()" class="formulario" novalidate>
          <input type="hidden" class="form-control"  name="id_persona"  formControlName="id_persona"  />
          <input type="hidden" class="form-control"  name="clave_comun"  formControlName="clave_comun"  />

          <div class="row">
            <div class="col-md-12 mb-2">
                <label for="defcon_ticket">Ticket</label>
                <input type="text" class="form-control"  name="defcon_ticket"  formControlName="defcon_ticket"  />
            </div>
          </div> 
          
          <div class="row">
            <div class="col-md-6 mb-2 fechainput">

              <div class="form-group"><label for="defcon_fecha">DEFCON</label>
                <div class="input-group">
                  <input type="text" 
                  class="form-control"  
                  name="defcon_id" 
                  formControlName="defcon_id">

                </div>
              </div>
            </div>
            <div class="col-md-6 mb-2 fechainput"></div>
          </div>


          <div class="row">
            <div class="col-md-4 mb-2 fechainput">

              <div class="form-group"><label for="defcon_fecha">Fecha</label>
                <div class="input-group">
                  <input type="text" 
                  pattern="/^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/" 
                  class="form-control"  
                  name="defcon_fecha" 
                  formControlName="defcon_fecha" readonly
                  ngbDatepicker #d="ngbDatepicker" #spy>
                  
                  <div class="input-group-addon" (click)="d.toggle()" >
                    <i class="fa fa-calendar fa-1g" aria-hidden="true"></i>
                  </div>
                </div>
              </div>




            </div>
            <div class="col-md-4 mb-2">
              <label for="defcon_inicio_incidencia">Inicio incidencia</label>
              <input type="text" class="form-control" placeholder="00:00" pattern="^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$"  name="defcon_inicio_incidencia"  formControlName="defcon_inicio_incidencia"  />
            </div>
            <div class="col-md-4 mb-2">
              <label for="defcon_final_incidencia">Fin incidencia</label>
              <input type="text" class="form-control"  placeholder="00:00" pattern="^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$" name="defcon_final_incidencia"  formControlName="defcon_final_incidencia"  />
            </div>
          </div> 
          <div class="row">
            <div class="col-md-12 mb-2">
                <label for="defcon_aplicaciones_impactadas">Aplicaciones impactadas</label>
                <input type="text" class="form-control"  name="defcon_aplicaciones_impactadas"  formControlName="defcon_aplicaciones_impactadas"  />
            </div>
          </div>   
          <div class="row">
            <div class="col-md-12 mb-2">
                <label for="defcon_descripcion">Descripción</label>
                <textarea name="defcon_descripcion" formControlName="defcon_descripcion" class="form-control"></textarea>
            </div>
          </div>   
          <div class="row">
            <div class="col-md-12 mb-2">
                <label for="defcon_ultima_actualizacion">Última actualización</label>
                <textarea name="defcon_ultima_actualizacion" formControlName="defcon_ultima_actualizacion" class="form-control"></textarea>
            </div>
          </div> 
          <div class="row">
            <div class="col-md-6 mb-2">
                <label for="defcon_estado">Estado</label>
<select  name="defcon_estado"  formControlName="defcon_estado" >
 <option value="OPEN">OPEN</option>
 <option value="CLOSED">CLOSED</option>
</select>

            </div>
            <div class="col-md-6 mb-2">
              <label for="defcon_resolutores">Resolutores</label>
              <input type="text" class="form-control"  name="defcon_resolutores"  formControlName="defcon_resolutores"  />
          </div>
          </div> 
          <p class="text-center"><button type="submit"  class="btn btn-primary">Guardar</button></p>  
    </form>
  
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </ng-template>