<div class="container-fluid">
  <div class="row">
    <div class="col-12 p-0 mt-5">
      <h2>Ticketing CECO – Help Desk</h2>
      <h3>Aperturas vs Cierres</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-left p-0 mt-5">

        
      <table class="table table-bordered table-hover">

        <tbody>
          <tr *ngFor="let ticke of ticketing; let i = index">
            <td class="columnames">{{ ticke.tike_mes }}</td>
            <td  class="borderleft p-0 m-0">
              <p class="borbase ml-2">Día</p>
              <p class="borbase ml-2">Abiertos</p>
              <p class="borbase ml-2">Cerrados</p>
              <p class="borbase ml-2">Diferencia</p>
            </td>
            <td
              class="columnadias"
              class="p-0 m-0"
              *ngFor="let param of ticke.parametros; let n = index;"
            >

            <p class="bgdias borderbase text-center">{{param.tike_dia}}</p>





    <p class="ticketclass borderbase text-center">
      <span (dblclick)="editing[ticke.tike_mes + n + '-tike_abiertos'] = true;" *ngIf="!editing[ticke.tike_mes + n + '-tike_abiertos']">
        {{param.tike_abiertos}}
        <span class="text-muted2" *ngIf="param.tike_abiertos === null"> 0&nbsp;&nbsp;&nbsp;</span>
      </span>
      <input autofocus type="text" name="tike_abiertos" maxlength="4" class="activwinput"
            *ngIf="editing[ticke.tike_mes + n + '-tike_abiertos']"
            (keyup.enter)="updateValue(param.id_tike,$event, 'tike_abiertos',param.tike_abiertos, n)"
            (clickOutside)="editing[ticke.tike_mes + n + '-tike_abiertos'] = false"
            [value]="param.tike_abiertos"  
            [(ngModel)]="param.tike_abiertos" 
            pattern="[0-9]+"
      />
    </p>


    <p class="ticketclass borderbase text-center">
      <span (dblclick)="editing[ticke.tike_mes + n + '-tike_cerrados'] = true;" *ngIf="!editing[ticke.tike_mes + n + '-tike_cerrados']">
        {{param.tike_cerrados}}
        <span class="text-muted2" *ngIf="param.tike_cerrados === null"> 0&nbsp;&nbsp;&nbsp;</span>
      </span>
      <input autofocus type="text" name="tike_cerrados" maxlength="4" class="activwinput"
            *ngIf="editing[ticke.tike_mes + n + '-tike_cerrados']"
            (keyup.enter)="updateValue(param.id_tike,$event, 'tike_cerrados',param.tike_cerrados, n)"
            (clickOutside)="editing[ticke.tike_mes + n + '-tike_cerrados'] = false"
            [value]="param.tike_cerrados"  
            [(ngModel)]="param.tike_cerrados" 
            pattern="[0-9]+"
      />
    </p>

      <p class="text-center" [ngClass]="{'positiver': param.negativo==='si','negativer': param.negativo==='no'}" >{{ param.tike_diferencia }}</p>
            </td>
          </tr>
        </tbody>


 

      </table>
    </div>
  </div>
</div>
