<app-header></app-header>

<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-12 mt-5" >
            <div class="tabbable" id="tabs-850675">
	            <app-botonestab></app-botonestab>			
				<div class="tab-content p-5">
					<div class="tab-pane active" id="panel-813817"  >
                        
             
                        
                        




		<div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-12">
                <div class="card p-3 aligmn">
                    <ul>
                        <li>Nombre: <div class="alert alert-light" role="alert"><strong>{{ registro.nombres }}</strong></div></li>
                        <li>Teléfono <div class="alert alert-light" role="alert"><strong>{{ registro.telefono }}</strong></div></li> 
                        <li>E-mail <div class="alert alert-light" role="alert"><strong>{{ registro.email}}</strong></div></li>
                        <li>Dirección <div class="alert alert-light" role="alert"><strong>{{ registro.direccion}}</strong></div></li>
                    </ul>
               <p class="text-center"><a  [routerLink]="['/listapersonas']"  class="btn btn-info">Volver</a></p>
                </div>
            </div>
            <div class="col-md-3">&nbsp;</div>
            
        </div>		   
						


                       

                        











                          


					</div>
				</div>
			</div>
        </div>
      </div>
</div>
<app-footer></app-footer>

