<app-header></app-header>


<ngx-spinner></ngx-spinner>


    


<div class="container-fluid mt-5">


    <div class="row justify-content-center">
        <div class="col-12 mt-5">
            <div class="tabbable" id="tabs-850675">
	            <app-botonestab></app-botonestab>			
				<div class="tab-content p-5">
					<div class="tab-pane active" id="panel-813817">
                        
                        

				   
						

                        <div class="row">
                            <div class="col-10 p-0 mt-5">
                              <h2>Listado de incidencias</h2>
                            </div>
                            <div class="col-2 p-0 mt-5">
                              
                            </div>
                          </div>
                    

	
						  <div class="row">
							<div class="col-12 p-0 m-0">
							  <ngx-datatable
								#mydatatable
								class="material striped"
								headerHeight="50"
								[limit]="25"
								[columnMode]="'force'"
								footerHeight="50"
								rowHeight="50"
								[rows]="rows"
								[messages]="my_messages"
							  >
							 <ngx-datatable-column name="id_inci" [maxWidth]="90">
								  <ng-template ngx-datatable-header-template>
									<span>ID</span>
								  </ng-template>
								  <ng-template
									class="mat-column-id"
									ngx-datatable-cell-template
									let-rowIndex="rowIndex"
									let-value="value"
									let-row="row"
									><div class="text-center">{{ row.id_inci }}</div>
								  </ng-template>
								</ngx-datatable-column> 
						

								<ngx-datatable-column name="inci_enunciado" [maxWidth]="580">
									<ng-template ngx-datatable-header-template>
									  <span>Enunciado</span>
									</ng-template>
									<ng-template
									  ngx-datatable-cell-template
									  let-rowIndex="rowIndex"
									  let-value="value"
									  let-row="row"
									>
									<div class="textocortado">  {{ row.inci_enunciado}}</div>
									
									</ng-template>
                                  </ngx-datatable-column>	
                                  
                                  
                                  <ngx-datatable-column name="nombres" [maxWidth]="190">
                                    <ng-template ngx-datatable-header-template>
                                      <span>Emitida por</span>
                                    </ng-template>
                                    <ng-template
                                      ngx-datatable-cell-template
                                      let-rowIndex="rowIndex"
                                      let-value="value"
                                      let-row="row"
                                    >
                                    {{ row.nombres}}
                                    </ng-template>
                                  </ngx-datatable-column>


								  <ngx-datatable-column name="inci_fecha" [maxWidth]="160">
									<ng-template ngx-datatable-header-template>
									  <span>Fecha</span>
									</ng-template>
									<ng-template
									  ngx-datatable-cell-template
									  let-rowIndex="rowIndex"
									  let-value="value"
									  let-row="row"
									>
									  {{ row.inci_fecha}}
									</ng-template>
								  </ngx-datatable-column>	
								  
								  <ngx-datatable-column name="inci_texto" [maxWidth]="480">
									<ng-template ngx-datatable-header-template>
									  <span>Texto</span>
									</ng-template>
									<ng-template
									  ngx-datatable-cell-template
									  let-rowIndex="rowIndex"
									  let-value="value"
									  let-row="row"
									>

									<div class="textocortado" [innerHtml]="row.inci_texto"></div>
									</ng-template>
								  </ngx-datatable-column>									  
						
                                  <ngx-datatable-column name="inci_resuelta" [maxWidth]="180">
                                    <ng-template ngx-datatable-header-template>
                                        <span>Resuelta</span>
                                      </ng-template>
                                    <ng-template
                                      ngx-datatable-cell-template
                                      let-rowIndex="rowIndex"
                                      let-value="value"
                                      let-row="row"
                                    >
                                    <div
                                    [ngClass]="{
                                      positive: row.inci_resuelta == 'SI',
                                      negative: row.inci_resuelta == 'NO',
                                      posnegtive: row.inci_resuelta == 'STANDBY'
                                    }"
                                  >
                                        {{ row.inci_resuelta }}
                                      </div>
                                    </ng-template>
                                  </ngx-datatable-column>

			
	
		<ngx-datatable-column name="ver" [maxWidth]="150">
							  <ng-template
								class="mat-column-id"
								ngx-datatable-cell-template
								let-row="row"
							  >
						
								<div class="text-center">
								  <div class="row">
									<div class="col-12 p0 m0">
						
		
									  <a
									  [routerLink]="['/', 'detalleincidencia', row.inci_token]"
										class="btn btn-info botonsizes mr-1"
										><i class="fa fa-eye"></i></a>
								
									  <!-- <button
										(click)="borrarRegistro(row, i)"
										class="btn btn-warning botonsizes"
									  >
										<i class="fa fa-trash"></i>
									  </button> -->


						
									</div>
								  </div>
								</div>
							  </ng-template>
							</ngx-datatable-column>
							  </ngx-datatable>
							</div>
						  </div>











                          


					</div>
				</div>
			</div>
        </div>
      </div>
</div>
<app-footer></app-footer>
