<app-header></app-header>

<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-12 mt-5">
            <div class="tabbable" id="tabs-850675">
				<app-botonestab></app-botonestab>			
				<div class="tab-content p-5">
					<div class="tab-pane active" id="panel-813817">
						
						


<h1>Estado del Servicio</h1>
<app-r4b></app-r4b>
<app-controlesbatch></app-controlesbatch>
<app-resumen></app-resumen>
<app-periodosanteriores></app-periodosanteriores>
<h1 class="mt-5">Incidencias DEFCON</h1>
<app-defcon></app-defcon>
<app-criticas></app-criticas>
<h1 class="mt-5">Cambios</h1>
<app-cambiosgenerica></app-cambiosgenerica>
 <h1 class="mt-5">Temas pendientes</h1>
<app-schedule></app-schedule>  


                          
                          
					</div>
				</div>
			</div>
        </div>
      </div>
</div>
<app-footer></app-footer>
