<div class="container-fluid">
  <div class="row">
    <div class="col-12 p-0 mt-5">
      <h2>Temas pendientes</h2>
    </div>
  </div>




  <div class="row">
    <div class="col-9 text-left p-0 mt-2">

      <a      
      title="Ayuda"
      (click)="open(pendicon)"
      class="btn btn-info pointerplus btn-circle"
      ><i class="fa fa-plus fa-2"></i
        > </a>

    </div>
    <div class="col-3 p-0 mt-2 text-right">

    </div>
  </div>




  <div class="row">
    <div class="col-12 p-0 mt-5">
      <table class="table table-bordered">
        <tbody>
          <tr *ngFor="let tema of temas; let i = index">
            <td class="p-0 m-0">
              <table class="table table-hover noborder p-0 m-0">
                <tbody>
                  <tr>
                    <td colspan="8" class="columnadiassemana">
                      {{ tema.pendi_dia }} - {{ tema.pendi_definicion }}
                    </td>
                  </tr>
                  <tr *ngFor="let param of tema.parametros; let n = index">
                    <td class="schedulclass c1tema zebrafour">
                      <span (dblclick)="editing[tema.pendi_dia + n + '-pendi_ticket'] = true;" *ngIf="!editing[tema.pendi_dia + n + '-pendi_ticket']">
                        {{param.pendi_ticket}}
                        <span class="text-muted2" *ngIf="param.pendi_ticket === null"> 0&nbsp;&nbsp;&nbsp;</span>
                      </span>
                      <input autofocus type="text" name="pendi_ticket"  class="actividaddeinput form-control"
                            *ngIf="editing[tema.pendi_dia + n + '-pendi_ticket']"
                            (keyup.enter)="updateValue(param.id_pendi,$event, 'pendi_ticket',param.pendi_ticket, n)"
                            (clickOutside)="editing[tema.pendi_dia + n + '-pendi_ticket'] = false"
                            [value]="param.pendi_ticket"  
                            [(ngModel)]="param.pendi_ticket" />
                    </td>
                    <td class="schedulclass c2tema zebraone">
                      <span (dblclick)="editing[tema.pendi_dia + n + '-pendi_aplicaciones'] = true;" *ngIf="!editing[tema.pendi_dia + n + '-pendi_aplicaciones']">
                        {{param.pendi_aplicaciones}}
                        <span class="text-muted2" *ngIf="param.pendi_aplicaciones === null"> 0&nbsp;&nbsp;&nbsp;</span>
                      </span>
                      <input autofocus type="text" name="pendi_aplicaciones"  class="actividaddeinput form-control"
                            *ngIf="editing[tema.pendi_dia + n + '-pendi_aplicaciones']"
                            (keyup.enter)="updateValue(param.id_pendi,$event, 'pendi_aplicaciones',param.pendi_aplicaciones, n)"
                            (clickOutside)="editing[tema.pendi_dia + n + '-pendi_aplicaciones'] = false"
                            [value]="param.pendi_aplicaciones"  
                            [(ngModel)]="param.pendi_aplicaciones" />
                    </td>
                    <td class="schedulclass c3tema zebrafour">
                      <span (dblclick)="editing[tema.pendi_dia + n + '-pendi_descripcion'] = true;" *ngIf="!editing[tema.pendi_dia + n + '-pendi_descripcion']">
                        {{param.pendi_descripcion}}
                        <span class="text-muted2" *ngIf="param.pendi_descripcion === null"> 0&nbsp;&nbsp;&nbsp;</span>
                      </span>
                      <input autofocus type="text" name="pendi_descripcion"  class="actividaddeinput form-control"
                            *ngIf="editing[tema.pendi_dia + n + '-pendi_descripcion']"
                            (keyup.enter)="updateValue(param.id_pendi,$event, 'pendi_descripcion',param.pendi_descripcion, n)"
                            (clickOutside)="editing[tema.pendi_dia + n + '-pendi_descripcion'] = false"
                            [value]="param.pendi_descripcion"  
                            [(ngModel)]="param.pendi_descripcion" />
                    </td>                    
                    <td class="schedulclass c4tema zebraone">
                      <span (dblclick)="editing[tema.pendi_dia + n + '-pendi_analisis'] = true;" *ngIf="!editing[tema.pendi_dia + n + '-pendi_analisis']">
                        {{param.pendi_analisis}}
                        <span class="text-muted2" *ngIf="param.pendi_analisis === null"> 0&nbsp;&nbsp;&nbsp;</span>
                      </span>
                      <input autofocus type="text" name="pendi_analisis"  class="actividaddeinput form-control"
                            *ngIf="editing[tema.pendi_dia + n + '-pendi_analisis']"
                            (keyup.enter)="updateValue(param.id_pendi,$event, 'pendi_analisis',param.pendi_analisis, n)"
                            (clickOutside)="editing[tema.pendi_dia + n + '-pendi_analisis'] = false"
                            [value]="param.pendi_analisis"  
                            [(ngModel)]="param.pendi_analisis" />
                    </td>                    
                    <td class="schedulclass c5tema zebrafour">
                      <span (dblclick)="editing[tema.pendi_dia + n + '-pendi_ultiactual'] = true;" *ngIf="!editing[tema.pendi_dia + n + '-pendi_ultiactual']">
                        {{param.pendi_ultiactual}}
                        <span class="text-muted2" *ngIf="param.pendi_ultiactual === null"> 0&nbsp;&nbsp;&nbsp;</span>
                      </span>
                      <input autofocus type="text" name="pendi_ultiactual"  class="actividaddeinput form-control"
                            *ngIf="editing[tema.pendi_dia + n + '-pendi_ultiactual']"
                            (keyup.enter)="updateValue(param.id_pendi,$event, 'pendi_ultiactual',param.pendi_ultiactual, n)"
                            (clickOutside)="editing[tema.pendi_dia + n + '-pendi_ultiactual'] = false"
                            [value]="param.pendi_ultiactual"  
                            [(ngModel)]="param.pendi_ultiactual" />
                    </td>                    
                    <td class="schedulclass c6tema zebraone">
                      <span (dblclick)="editing[tema.pendi_dia + n + '-pendi_owner'] = true;" *ngIf="!editing[tema.pendi_dia + n + '-pendi_owner']">
                        {{param.pendi_owner}}
                        <span class="text-muted2" *ngIf="param.pendi_owner === null"> vacío&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                      </span>
                      <input autofocus type="text" name="pendi_owner"  class="actividaddeinput form-control"
                            *ngIf="editing[tema.pendi_dia + n + '-pendi_owner']"
                            (keyup.enter)="updateValue(param.id_pendi,$event, 'pendi_owner',param.pendi_owner, n)"
                            (clickOutside)="editing[tema.pendi_dia + n + '-pendi_owner'] = false"
                            [value]="param.pendi_owner"  
                            [(ngModel)]="param.pendi_owner" />
                    </td>    


<td class="schedulclass  zebrafour">   
  
  
  <div class="block"  *ngIf="param.pendi_file==null">
  <form [formGroup]="formFileUp" (change)="pasoId(param.id_pendi)" novalidate>

<input type="hidden" name="id_pendi"  formControlName="id_pendi"  />


    <label class="fileContainerPequ"><i class="fa fa-plus"></i> 
    <input type="file" name="pendi_file" formControlName="pendi_file" (change)="handleInputChange($event)"
    accept="pdf/*ppt/*doc/*docx/*"
     />
  </label>
  </form>
  </div> 



  <div class="block" *ngIf="param.pendi_file!=null"> 
  <a href="http://schedule.ibmes.site:80/s/uploads/{{param.pendi_file}}" target="_blank">
    <i class="fa fa-file-pdf-o"></i>
  </a>
 </div>
</td>









<td class="schedulclass  zebraone">

                <div *ngIf="user.id_rol=='8'">
                              <button
                                (click)="borrarRegistro(param.id_pendi)"
                                class="btn btn-warning botonsizes"
                              >
                                <i class="fa fa-trash"></i>
                              </button>
                </div> 
 




                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>




<ng-template #pendicon let-modal class="modal-lg">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Schedule</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">

  <form [formGroup]="CamiForm" (ngSubmit)="submitdef()" class="formulario" novalidate>
        <input type="hidden" class="form-control"  name="id_persona"  formControlName="id_persona"  />




        <div class="row">
          <div class="col-md-4 mb-2 fechainput">
            <div class="form-group"><label for="cami_id">Día semana</label>
              <div class="input-group">
                <select
                required
                class="form-control form-control-sm"
                name="id_pendi_dias"
                formControlName="id_pendi_dias"
              >
                  <option
                  *ngFor="let diasS of diasSemana"
                  value="{{ diasS.id_pendi_dias }}"
                  >
                  {{ diasS.pendi_dia }} - {{ diasS.pendi_definicion }}
                  </option>
              </select>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-2 fechainput">
            <div class="form-group"><label for="pendi_ticket">Ticket</label>
              <div class="input-group">
                <input type="text" 
                class="form-control"  
                name="pendi_ticket" 
                formControlName="pendi_ticket">
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-2 fechainput">
            <div class="form-group"><label for="pendi_aplicaciones">Aplicaciones</label>
              <div class="input-group">
                <input type="text" 
                class="form-control"  
                name="pendi_aplicaciones" 
                formControlName="pendi_aplicaciones">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-2 fechainput">
            <div class="form-group"><label for="pendi_descripcion">Descripción</label>
              <div class="input-group">
                <input type="text" 
                class="form-control"  
                name="pendi_descripcion" 
                formControlName="pendi_descripcion">
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-2 fechainput">

            <div class="form-group"><label for="pendi_analisis">Analisis</label>
              <div class="input-group">
                <input type="text" 
                class="form-control"  
                name="pendi_analisis" 
                formControlName="pendi_analisis">
              </div>
            </div>
  

          </div>
          <div class="col-md-4 mb-2 fechainput">
            <div class="form-group"><label for="pendi_ultiactual">Última actualización</label>
              <div class="input-group">
                <input type="text" 
                class="form-control"  
                name="pendi_ultiactual" 
                formControlName="pendi_ultiactual">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 mb-2 fechainput">
            <div class="form-group"><label for="pendi_owner">Owner</label>
              <div class="input-group">
                <input type="text" 
                class="form-control"  
                name="pendi_owner" 
                formControlName="pendi_owner">
              </div>
            </div>              

      </div>
    </div> 


        <p class="text-center"><button type="submit" [disabled]="CamiForm.invalid" class="btn btn-primary">Guardar</button></p>  
  </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cerrar</button>
  </div>
</ng-template>