<ul class="nav nav-tabs">
    <li class="nav-item">
        <a [routerLinkActive]="['active']" class="nav-link" [routerLink]="['/', 'home']"  data-toggle="tab">Estado del Servicio</a>
    </li>
    <li class="nav-item">
        <a [routerLinkActive]="['active']" class="nav-link"   [routerLink]="['/', 'incidencias']" data-toggle="tab">Incidencias DEFCON</a>
    </li>
    <li class="nav-item">
        <a [routerLinkActive]="['active']"  class="nav-link"  [routerLink]="['/', 'cambios']" data-toggle="tab">Cambios</a>
    </li>
    <li class="nav-item">
        <a [routerLinkActive]="['active']"  class="nav-link"  [routerLink]="['/', 'pendientes']" data-toggle="tab">Temas Pendientes</a>
    </li>
</ul>