<div class="container-fluid">
  <div class="row">
    <div class="col-10 p-0 mt-5">
      <h2>Controles Batch</h2>
    </div>
    <div class="col-2 p-0 mt-5">
      <app-imprimir classe="ClaseBatch1"></app-imprimir>
    </div>
  </div>
 

<!-- 
  <div class="row">
    <div class="col-9 p-0 mt-2 text-right"></div>
    <div class="col-3 p-0 mt-2 text-right">
      <div class="form">
        <mat-form-field floatPlaceholder="never" color="accent">
          <input
            matInput
            placeholder="Buscar"
            (keyup)="updateFilterBatch1($event)"
          />
        </mat-form-field>
      </div>
    </div>
  </div>
   -->

   <div class="row">
   <div class="col-md-12 text-center mt-5">
    <form [formGroup]="imagenForm" class="formulario" novalidate>
      <input type="hidden" class="form-control"  name="clave_comun"  formControlName="clave_comun"  />


      <label class="fileContainer"><i class="fa fa-camera"></i>
      <input 
             type="file"
             name="imba_imagen"  
             formControlName="imba_imagen"
             (change)="handleInputChange($event)"
             accept="image/*" 
             
             />
    
     </label>
    </form>
    </div>
  </div>
  

  <div class="row">
    <div class="col-12 text-center p-0 mt-2">
      <table class="table">
        <tbody>
          <tr >
            <td class="pt-5 pb-5">
                <div class="block" *ngIf="imagenes.imba_imagen===''">
                  <img 
                  class="nofoto animate fadeIn" 
                  src="../../../../assets/nophoto.jpg" 
                  >
                </div> 
                <div class="block" *ngIf="imagenes.imba_imagen!=''">
                  <img 
                  class="perfildetalle animate fadeIn" 
                  src="{{imagenes.imba_imagen}}" 
                  >
                </div> 
               
                </td>
                </tr>
            </tbody>
    </table>
    </div>
  </div>




  <div class="row">
    <div class="col-9 text-left p-0 mt-2">

      <a      
      title="Ayuda"
      (click)="open(modalNUeva)"
      class="btn btn-info pointerplus btn-circle"
      ><i class="fa fa-plus fa-2"></i
        > </a>

    </div>
    <div class="col-3 p-0 mt-2 text-right">
      <div class="form">
        <mat-form-field floatPlaceholder="never" color="accent">
          <input matInput placeholder="Buscar" (keyup)="updateFilter($event)" />
        </mat-form-field>
      </div>
    </div>
  </div>



 <div class="row">
    <div class="col-12 p-0 mt-2">
      <ngx-datatable
        #mydatatable
        class="material striped"
        headerHeight="50"
        [limit]="50"
        [columnMode]="'force'"
        footerHeight="50"
        rowHeight="50"
        [rows]="rows"
        [messages]="my_messages"
     
      >
        <!-- <ngx-datatable-column name="id_coba1" [maxWidth]="90">
          <ng-template ngx-datatable-header-template>
            <span>ID</span>
          </ng-template>
          <ng-template
            class="mat-column-id"
            ngx-datatable-cell-template
            let-rowIndex="rowIndex"
            let-value="value"
            let-row="row"
            ><div class="text-center">{{ row.id_coba1 }}</div>
          </ng-template>
        </ngx-datatable-column> -->

        <ngx-datatable-column name="coba_hito1" [maxWidth]="520">
          <ng-template ngx-datatable-header-template>
            <span>Hito</span>
          </ng-template>
          <ng-template
            ngx-datatable-cell-template
            let-rowIndex="rowIndex"
            let-value="value"
            let-row="row"
          >
            <span
              title="Doble click para editar"
              (dblclick)="editing[rowIndex + '-coba_hito1'] = true"
              *ngIf="!editing[rowIndex + '-coba_hito1']"
            >
              {{ row.coba_hito1}}
              <span class="text-muted2" *ngIf="row.coba_hito1 === null">
                
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </span>
            </span>
            <input
              required
              autofocus
              (clickOutside)="editing[rowIndex + '-coba_hito1'] = false"
              (keyup.enter)="updateValue1($event, 'coba_hito1', rowIndex)"
              *ngIf="editing[rowIndex + '-coba_hito1']"
              type="text"
              class="form-control"
              [value]="row.coba_hito1"
              [title]="row.id_coba1"
              id="{{periodo.clave_comun}}"
            />
          </ng-template>
        </ngx-datatable-column>



        <ngx-datatable-column name="coba_horarioteorico1" [maxWidth]="100">
          <ng-template ngx-datatable-header-template>
            <span>Horario teórico</span>
          </ng-template>
          <ng-template
            ngx-datatable-cell-template
            let-rowIndex="rowIndex"
            let-value="value"
            let-row="row"
          >
            <span
              title="Doble click para editar"
              (dblclick)="editing[rowIndex + '-coba_horarioteorico1'] = true"
              *ngIf="!editing[rowIndex + '-coba_horarioteorico1']"
            >
              {{ row.coba_horarioteorico1}}
              <span
                class="text-muted2"
                *ngIf="row.coba_horarioteorico1 === null"
              >
                
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </span>
            </span>
            <input
              required
              autofocus
              (clickOutside)="
                editing[rowIndex + '-coba_horarioteorico1'] = false
              "
              (keyup.enter)="
                updateValue1($event, 'coba_horarioteorico1', rowIndex)
              "
              *ngIf="editing[rowIndex + '-coba_horarioteorico1']"
              type="text" pattern="^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$"
              class="form-control"
              [value]="row.coba_horarioteorico1"
              [title]="row.id_coba1"
              id="{{periodo.clave_comun}}"
            />
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="coba_horarioreal1" [maxWidth]="100">
          <ng-template ngx-datatable-header-template>
            <span>Horario real</span>
          </ng-template>
          <ng-template
            ngx-datatable-cell-template
            let-rowIndex="rowIndex"
            let-value="value"
            let-row="row"
          >
            <span
              title="Doble click para editar"
              (dblclick)="editing[rowIndex + '-coba_horarioreal1'] = true"
              *ngIf="!editing[rowIndex + '-coba_horarioreal1']"
            >
              {{ row.coba_horarioreal1}}
              <span class="text-muted2" *ngIf="row.coba_horarioreal1 === null">
                
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </span>
            </span>
            <input
              required
              autofocus
              (clickOutside)="editing[rowIndex + '-coba_horarioreal1'] = false"
              (keyup.enter)="updateValue1($event, 'coba_horarioreal1', rowIndex)"
              *ngIf="editing[rowIndex + '-coba_horarioreal1']"
              type="text"
              class="form-control"
              [value]="row.coba_horarioreal1"  pattern="^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$"
              [title]="row.id_coba1"
              id="{{periodo.clave_comun}}"
            />
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="coba_jobs_pendientes1" [maxWidth]="500">
          <ng-template ngx-datatable-header-template>
            <span>Jobs pendientes</span>
          </ng-template>
          <ng-template
            ngx-datatable-cell-template
            let-rowIndex="rowIndex"
            let-value="value"
            let-row="row"
          >
            <span
              title="Doble click para editar"
              (dblclick)="editing[rowIndex + '-coba_jobs_pendientes1'] = true"
              *ngIf="!editing[rowIndex + '-coba_jobs_pendientes1']"
            >
              {{ row.coba_jobs_pendientes1}}
              <span
                class="text-muted2"
                *ngIf="row.coba_jobs_pendientes1 === null"
              >
                
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </span>
            </span>
            <input
              required
              autofocus
              (clickOutside)="
                editing[rowIndex + '-coba_jobs_pendientes1'] = false
              "
              (keyup.enter)="
                updateValue1($event, 'coba_jobs_pendientes1', rowIndex)
              "
              *ngIf="editing[rowIndex + '-coba_jobs_pendientes1']"
              type="text"
              class="form-control"
              [value]="row.coba_jobs_pendientes1"
              [title]="row.id_coba1"
              id="{{periodo.clave_comun}}"
            />
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="coba_incidencias1" [maxWidth]="1610">
          <ng-template ngx-datatable-header-template>
            <span>Incidencias</span>
          </ng-template>
          <ng-template
            ngx-datatable-cell-template
            let-rowIndex="rowIndex"
            let-value="value"
            let-row="row"
          >
            <span
              title="Doble click para editar"
              (dblclick)="editing[rowIndex + '-coba_incidencias1'] = true"
              *ngIf="!editing[rowIndex + '-coba_incidencias1']"
            >
              {{ row.coba_incidencias1}}
              <span class="text-muted2" *ngIf="row.coba_incidencias1 === null">
                
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </span>
            </span>
            <input
              required
              autofocus
              (clickOutside)="editing[rowIndex + '-coba_incidencias1'] = false"
              (keyup.enter)="updateValue1($event, 'coba_incidencias1', rowIndex)"
              *ngIf="editing[rowIndex + '-coba_incidencias1']"
              type="text"
              class="form-control"
              [value]="row.coba_incidencias1"
              [title]="row.id_coba1"
              id="{{periodo.clave_comun}}"
            />
          </ng-template>
        </ngx-datatable-column>


 

        <ngx-datatable-column name="" [maxWidth]="70">
          <ng-template ngx-datatable-header-template>
          </ng-template>
          <ng-template
            ngx-datatable-cell-template
            let-rowIndex="rowIndex"
            let-value="value"
            let-row="row"
          >
  
        <div *ngIf="user.id_rol=='8'">
          <button
            (click)="borrarRegistro(row.id_coba1)"
            class="btn btn-warning botonsizes"
          >
            <i class="fa fa-trash"></i>
          </button>
      </div> 

          </ng-template>
        </ngx-datatable-column> 




      </ngx-datatable>
  </div>
</div>
</div>




<ng-template #modalNUeva let-modal class="modal-lg">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Incidencias</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">

  <form [formGroup]="BatchForm" (ngSubmit)="submitdef()" class="formulario" novalidate>
        <input type="hidden" class="form-control"  name="clave_comun"  formControlName="clave_comun"  />
        <div class="row">
          <div class="col-md-4 mb-2 fechainput">
            <div class="form-group"><label for="coba_hito1">Hito</label>
              <div class="input-group">
              
              <select
             class="form-control"  
                name="coba_hito1" 
                formControlName="coba_hito1"
                (change)="onSelect($event.target.value)"
             >
            <option *ngFor="let hito of hitos" value="{{ hito.coba_id }}">{{ hito.coba_hito1 }}</option>

            </select>  

</div>
            </div>
          </div>
          <div class="col-md-4 mb-2 fechainput">
            <div class="form-group"><label for="coba_horarioteorico1">Hora teórica</label>
              <div class="input-group">
                
                
                <select class="form-control"  
                   name="coba_horarioteorico1" 
                   formControlName="coba_horarioteorico1"
                >
                <option selected value="{{ horarios.coba_horarioteorico1 }}">
                  {{ horarios.coba_horarioteorico1 }}
                </option>

               </select>       




              </div>
            </div>
          </div>
          <div class="col-md-4 mb-2 fechainput">
            <div class="form-group"><label for="coba_horarioreal1">Horario real</label>
              <div class="input-group">
                <input type="text" 
                placeholer="00:00"
                class="form-control"  
                name="coba_horarioreal1" 
                formControlName="coba_horarioreal1">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-2 fechainput">
            <div class="form-group"><label for="coba_jobs_pendientes1">Jobs pendientes</label>
              <div class="input-group">
                <input type="text" 
                class="form-control"  
                name="coba_jobs_pendientes1" 
                formControlName="coba_jobs_pendientes1">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-2 fechainput">
            <div class="form-group"><label for="coba_incidencias1">Incidencias</label>
              <div class="input-group">
                <input type="text" 
                class="form-control"  
                name="coba_incidencias1" 
                formControlName="coba_incidencias1">
              </div>
            </div>
          </div>
        </div>
        <p class="text-center"><button type="submit" [disabled]="BatchForm.invalid" class="btn btn-primary">Guardar</button></p>  
  </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cerrar</button>
  </div>
</ng-template>